language: java
arch:
  - amd64
  - ppc64le
  
jdk:
  - openjdk11
  - openjdk15

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/modules-2/
    - $HOME/.gradle/wrapper/
